
/* css */
body {
  font-family: "Helveitca";
  display: block;
}
.container {
  background-color: #000000;
  width: 600px;
  justify-content: center;
}
#black {
  background-color: #000000;
  width: 600px;
  height: 470px;
  position: absolute;
  justify-content: center;
}
.white{color: white}

.purple{color: purple}

.blue{color: blue}

{background-color: black}

}
