
/* css */

h1 {
	position:relative;
  left:460px;
  color:white;
}
​
h4 {
	position:relative;
  left:460px;
  color:white;
}
body {
  background-color:	#000000
}
​
.with {
	position:relative;
  left:450px;
  top:90px;
  color:white;
}
​
.saccharine {
	position:relative;
  left:450px;
  top:90px;
  color:white;
}
​
.big {
	position:relative;
  left:450px;
  top:90px;
  color:white;
}
​
.october {
	position:relative;
  left:450px;
  top:90px;
  color:white;
}
​
.friday {
	position:relative;
  left:450px;
  top:90px;
  color:white;
}
​
.august {
	position:relative;
  left:450px;
  top:90px;
  color:white;
}
​
.august {
	position:relative;
  left:450px;
  top:90px;
  color:white;
}
​
.all{
	position:relative;
  left:450px;
  top:90px;
  color:white;
}
​
.consolidated{
	position:center;
  left:700px;
  top:90px;
  color:white;
  }
​
  .4601{
	position:center;
  left:700px;
  top:90px;
  color:white;
  font-size: 4420%;
  }
​
  .houston{
	position:center;
  left:700px;
  top:90px;
  color:white;
  }
​
 .f{
position:relative;
  left:905px;
  top:-4255px;
  color: #34ACD6;
  font-size: 4700%;
  mix-blend-mode: multiply;
  font-weight: bold;
  }
